---
import type { PortfolioEntry } from "@/types";
import BaseLayout from "@components/base/BaseLayout.astro";
import PageHeader from "@/components/common/PageHeader.astro";
import { markdownify } from "@lib/textConverter";
import { FaGithub } from "react-icons/fa";
import Image from "astro/components/Image.astro";

interface Props {
  entry: PortfolioEntry;
}

const { entry } = Astro.props;
const { title, description, projects } = entry.data;


---

<BaseLayout title={title} description={description}>
  <PageHeader title= "How It Works" />
  <section class="section-sm container">
    <div class="row justify-center">
      <div class="col-10 content glass rounded-lg p-4">
        <Image
          src="https://sdmntprwestus.oaiusercontent.com/files/00000000-fb48-6230-9f22-4b75080b7f40/raw?se=2025-09-05T00%3A31%3A30Z&sp=r&sv=2024-08-04&sr=b&scid=4db2f949-6bdc-579d-b073-789e141a0ae1&skoid=789f404f-91a9-4b2f-932c-c44965c11d82&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-09-04T19%3A01%3A45Z&ske=2025-09-05T19%3A01%3A45Z&sks=b&skv=2024-08-04&sig=LISjWiZ3qntM8AdYzVeRJNIOy0x2dsDaHFh12jf5lLw%3D"
          alt="How It Works"
          width="500"
          height="500"
        />

        <script async src="https://js.stripe.com/v3/buy-button.js"></script>

        <div class="text-center mt-6">
          <stripe-buy-button
            buy-button-id="buy_btn_1Ryu7CGmP5AqwObLPAtteGYj"
            publishable-key="pk_live_51RytplGmP5AqwObLlVVwLqxl0y5SiV8rOgjCYegl8mPEvruDPM7O9NWLvLSN0YU1YXeix88cft75fyw2DUW7tRix00duB8tZ8h"
          >
          </stripe-buy-button>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
