---
import type { PortfolioEntry } from "@/types";
import BaseLayout from "@components/base/BaseLayout.astro";
import PageHeader from "@/components/common/PageHeader.astro";
import { markdownify } from "@lib/textConverter";
import { FaGithub } from "react-icons/fa";
import Image from "astro/components/Image.astro";
import ChatImage from "src/assets/Chatgptimage.png";

interface Props {
  entry: PortfolioEntry;
}

const { entry } = Astro.props;
const { title, description, projects } = entry.data;


---

<BaseLayout title={title} description={description}>
  <PageHeader title= "How It Works" />
  <section class="section-sm container">
    <div class="row justify-center">
      <div class="col-10 content glass rounded-lg p-4">
        <Image
          src={ChatImage}
          alt="How It Works"
          width="500"
          height="500"
        />

        <script async src="https://js.stripe.com/v3/buy-button.js"></script>

        <div class="text-center mt-6">
          <stripe-buy-button
            buy-button-id="buy_btn_1Ryu7CGmP5AqwObLPAtteGYj"
            publishable-key="pk_live_51RytplGmP5AqwObLlVVwLqxl0y5SiV8rOgjCYegl8mPEvruDPM7O9NWLvLSN0YU1YXeix88cft75fyw2DUW7tRix00duB8tZ8h"
          >
          </stripe-buy-button>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
